$global-link-color: #DA7D02;
$global-color: #ffffff;
$global-primary-background: #414141;
$global-muted-background: #0c0613;
$global-secondary-background: rgba(215, 200, 200, 0.2);
$global-emphasis-color: #ffffff;
$global-muted-color: #a19e9e;
$global-primary-background: #333333;
$global-inverse-color: #333333;
$button-default-background: $global-muted-background;

$text-primary-color: #838383;
$text-secondary-color: #bebebe;
$text-emphasis-color: #ffff;
$text-meta-color: #ffff;
$text-muted-color: #797979;

$list-muted-color: #ffff;
$list-emphasis-color: #ffff;
$list-secondary-color: #ffff;

$dropdown-background: $global-muted-background;

$button-default-hover-background: lighten($button-default-background, 5%);
$breadcrumb-item-hover-color: #ffff;

@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";

@mixin hook-card() { color: grey; }

@import "../node_modules/uikit/src/scss/uikit-theme.scss";

body{
  background-color: #1c1128;
}

.main{
  margin-right: 15%;
  margin-left: 15%;
}

.uk-card-default{
  background-color: $global-secondary-background;
}

html{
  color: $global-muted-color;
}

.uk-open{
  background-color: $global-muted-background;
}

.uk-link{
  text-shadow: 2px 2px 5px red;
}

.uk-container{
  color: $text-primary-color;
}

.uk-logo{
  text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
  font-family: 'Comfortaa', cursive;
}

.uk-subnav-pill > .uk-active > a{
  background-color: #c7c6c6;
  border-radius: 5px;
  box-shadow: #999999;
}

.uk-progress.progress-green::-webkit-progress-value {
  background-color: LightGreen ;
}
.uk-progress.progress-green::-moz-progress-bar {
  background-color: LightGreen ;
}
.uk-progress.progress-green::-ms-fill {
  background-color: LightGreen ;
}

.uk-progress.progress-red::-webkit-progress-value {
  background-color: red ;
}
.uk-progress.progress-red::-moz-progress-bar {
  background-color: red ;
}
.uk-progress.progress-red::-ms-fill {
  background-color: red ;
}

.uk-progress.progress-blue::-webkit-progress-value {
  background-color: cornflowerblue ;
}
.uk-progress.progress-blue::-moz-progress-bar {
  background-color: cornflowerblue ;
}
.uk-progress.progress-blue::-ms-fill {
  background-color: cornflowerblue ;
}


